.Header {
  .topbar-wrap {
    height: 42px;
    background-color: #e5552d;
    .Width {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      justify-content: space-between;
      color: white;
      .topcontent-left {
        font-family: monospace;
        font-size: 15px;
      }
      .topcontent-right {
        a {
          color: white;
          cursor: pointer;
        }
        .icons-right {
          font-size: 42px;
          padding-right: 8px;
        }
        .content-item {
          width: 189px;
          h5 {
            font-size: 14px;
            display: block;
            width: 100%;
          }
          span {
            display: block;
            width: 187px;
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }

  .ant-row {
    padding: 10px 120px;
    background: linear-gradient(to right, #f05f30 0, #f86a3c 100%);
    min-height: 110px;
    .Width {
      // Logo
      .Logo {
        font-size: 24px;
        color: white;
        font-weight: 900;
      }
      // Search Box
      .Search-box {
        .ant-input-affix-wrapper {
          display: flex;
          flex-direction: row-reverse;
          padding: 8px 10px 8px 0;
        }
        .ant-input-prefix {
          font-size: 20px;
          color: black;
        }
      }
      // SHOPPING CARD CSS
      .Shopping-cart {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        color: white;
        .shopping-cart-icons {
          cursor: pointer;
          font-size: 26px;
          color: white;
          &:hover {
            color: #e3e3e3;
          }
        }
        .shopping-cart-price {
          margin-left: 10px;
        }
        .user-login {
          // POPOVER
          .Popover {
            .avatar-login-user {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
              padding: 0;
            }
            button {
              border: none;
              background-color: transparent;
              color: white;
              font-size: 18px;
            }
            svg {
              font-size: 35px;
            }
            button.active {
              border: none;
            }

            .user-nav {
              list-style: none;
              margin: 0;
              padding: 0;
            }
            .user-nav li {
              margin-bottom: 10px; /* Khoảng cách giữa các mục */
            }
            .user-nav a {
              color: black;
              padding: 0 12px 6px 12px;
              text-decoration: none;
              display: block; /* Giúp padding bao quanh toàn bộ nội dung */
            }
            .user-nav a:hover {
              background-color: #f0f0f0; /* Hiệu ứng hover */
            }
          }
          // none active
          .shopping-cart-icons.user {
            font-size: 26px;
            padding: 0px 26px 0 4px;
          }
          // active
          .shopping-cart-icons.user.active {
            font-size: 26px;
            padding: 0px 4px 0 4px;
          }
          .user-name {
            color: white;
            font-size: 17px;
          }
          .cart-box {
            padding-left: 30px;

            .cart-number {
              font-size: 13px;
              padding: 4px 4px;
            }
            .cart-total {
              font-size: 14px;
              padding: 3px 3px;
            }
          }
        }
        .None-account {
          display: flex;
          padding: 8px 2px;
          cursor: pointer;
          &:hover {
            color: #e3e3e3;
          }
        }
      }
    }
  }
}
