// Main layout
.Wrapper-Admin-User {
  //content Layout
  .Main-Content {
    .content-title {
      text-transform: uppercase;
      color: black;
    }
    .content-addUser {
      Button {
        width: 100px;
        height: 100px;
        border: 1px dashed green;
        font-size: 20px;
      }
    }
    // Css table user
    .content-main-table-user {
      margin-top: 20px;
      border: 1px dashed grey;
    }
  }
  // Modal Add New Product
  .ant-modal-content {
    font-size: 24px !important;
  }

  .Modal-Form-AddNewProduct {
    .ImageProduct {
      border-radius: 50%;
      min-width: 150px;
      min-height: 150px;
      max-width: 150px;
      max-height: 150px;
      object-fit: cover;
    }
  }
}
