.Card {
  flex-direction: column;
  flex: 0.25;
  cursor: pointer;
  .Card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    .product-card {
      width: 275px;
      background-color: #ffffff;
      padding: 10px;
      text-align: center;
      border-radius: 1px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      // Product Image
      .product-image {
        background-image: url("../../assets/products-Image/Product1.jpg");
        width: 100%;
        height: 230px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 8px;
      }

      // Product Title
      .product-title {
        font-size: 16px;
        text-align: left;
        padding: 10px 0;
        span {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
      // Product Prices
    }
  }
}
