.Product-Detail {
  .Wrapper {
    // Left Col
    margin: 10px 0;
    .Left-Col {
      .Image-Product_Detail {
        width: 95%;
        height: 550px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .ExtraImage-Product_Detail {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 4px 0;
        & .extra:nth-child(1) {
          background-image: url(../../assets/products-Image/Details-Image/ProductDetail1.jpg);
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          height: 150px;
        }
        & .extra:nth-child(2) {
          background-image: url(../../assets/products-Image/Details-Image/ProductDetail2.jpg);
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          height: 150px;
        }
        & .extra:nth-child(3) {
          background-image: url(../../assets/products-Image/Details-Image/ProductDetail3.jpg);
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          height: 150px;
        }
      }
    }
    .Right-Col {
      font-family: "cabin";
      //   title
      .title {
        line-height: 40px;
        font-size: 38px;
        margin-bottom: 10px;
        font-weight: 600;
      }
      // Box info
      .product-detail-info {
        font-size: 16px;
        line-height: 30px;
        text-align: justify;
        .product-des-info {
          padding-left: 25px;
        }
        button {
          background: #d45d26 !important;
          border: 3px solid #d45d26 !important;
          width: 100%;
          min-height: 34px;
          border-radius: 1px;
          font-size: 17px;
          line-height: 26px;
          padding: 0px;
          text-transform: uppercase;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          color: white;
          margin: 10px 0 20px 0;
          transition: all 0.3s ease;
          &:hover {
            color: black;
          }
        }

        .product-status {
          width: 120px;
          text-align: center;
          padding: 0px 14px;
          border: 2px solid green;
          color: green;
          margin: 18px 0;
          text-transform: uppercase;
          font-size: 14px;
          span {
            margin: 0 6px;
          }
          .countInStock {
            margin: 0;
            font-size: 14px;
          }
        }
      }

      // Sub info
      .product-detail-subinfo {
        color: #585858;
        .favorite {
          justify-content: flex-start;
          font-size: 20px;
          gap: 8px;
          margin: 10px 0 20px 0;
        }

        .info-transfer {
          flex-direction: column;
          gap: 20px;
          align-items: flex-start;
          .trans-items {
            // left - icons
            display: flex;
            gap: 20px;
            align-items: center;
            min-width: 380px;
            .icons {
              width: 50px;
              height: 30px;
              background-size: contain;
              background-repeat: no-repeat;
            }
            .trans-items-shipping {
              background-image: url(../../assets/iconsSVG/shipping-icon.svg);
            }
            .trans-items-calendar {
              background-image: url(../../assets/iconsSVG/calendar-icon.svg);
              width: 50px;
              height: 40px;
            }
            .trans-items-Phone {
              background-image: url(../../assets/iconsSVG/phon-icon.svg);
              width: 50px;
              height: 45px;
            }
            h2 {
              font-size: 16px;
              text-transform: uppercase;
              font-family: math;
            }
            // right
            .trans-items-right {
            }
          }
        }
        .text {
          font-weight: 700;
          color: #4e4e4e;
          margin-right: 5px;
        }
        .product-code {
          margin: 20px 0;
          font-size: 18px;
        }
        .share {
          margin: 20px 0;
          justify-content: flex-start;
          font-size: 18px;

          span {
            font-size: 18px;
          }
          a {
            display: flex;
            align-items: center;
            flex-direction: row;
          }
          .share-link-items {
            color: #4e4e4e;
            padding: 1px 6px;
          }
        }
      }
    }
  }
}
