// Layout 1
.homepage-container {
  // layout 2
  .homepage-wrapper {
    // hompage banner top
    .homepage-banner-top {
      background-image: url("../../assets/School.png");
      width: 100%;
      height: 390px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 10px;
      margin-top: 40px;
    }
  }
}
